<footer id="contatos">
    <h1>Contato</h1>
    <p>Se você estiver interessado, pode entrar em contato comigo através das seguintes plataformas:</p>
    <div class="contato">
        <a href="<%= contatos.linkedin %>" target="_blank">
            <img src="/statics/imagens/LinkedIn_logo.png" alt="Linkedin">
        </a>
        <a href="<%= contatos.github %>" target="_blank">
            <img src="/statics/imagens/github_logo.webp" alt="GitHub">
        </a>
    </div>
    <p>Ou mande uma mensagem para os seguintes contatos:</p>
    <div class="mensagem">
        <div class="item">
            <img src="/statics/imagens/email.png" alt="email">
            <span><%= contatos.email %></span>
        </div>    
        <div class="item">
            <img src="/statics/imagens/telefone2.jpg" alt="telefone">
            <span><%= contatos.telefone %></span>
        </div>    
    </div>
</footer>
